include MANIFEST.in
include ez_setup.py
include mwlib/__init__.py
include mwlib/xhtmlwriter.py
include mwlib/xmlcat/__init__.py
include mwlib/xmlcat/build-cat.py
include mwlib/xmlcat/cache.xml
include mwlib/xmlcat/urls.txt
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/calstblx.dtd
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/dbcentx.mod
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/dbgenent.mod
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/dbhierx.mod
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/dbnotnx.mod
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/dbpoolx.mod
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/docbookx.dtd
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-amsa.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-amsb.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-amsc.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-amsn.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-amso.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-amsr.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-box.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-cyr1.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-cyr2.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-dia.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-grk1.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-grk2.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-grk3.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-grk4.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-lat1.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-lat2.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-num.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-pub.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/ent/iso-tech.ent
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/4.3/htmltblx.mod
include mwlib/xmlcat/www.oasis-open.org/docbook/xml/mathml/1.1CR1/dbmathml.dtd
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isoamsa.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isoamsb.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isoamsc.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isoamsn.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isoamso.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isoamsr.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isobox.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isocyr1.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isocyr2.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isodia.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isogrk3.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isolat1.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isolat2.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isomfrk.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isomopf.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isomscr.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isonum.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isopub.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/isotech.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/mathml2-qname-1.mod
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/mathml2.dtd
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/mmlalias.ent
include mwlib/xmlcat/www.w3.org/TR/2001/REC-MathML2-20010221/dtd/mmlextra.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isoamsa.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isoamsb.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isoamsc.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isoamsn.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isoamso.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isoamsr.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isobox.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isocyr1.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isocyr2.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isodia.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isogrk3.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isolat1.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isolat2.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isomfrk.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isomopf.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isomscr.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isonum.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isopub.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/isotech.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/mathml2-qname-1.mod
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/mathml2.dtd
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/mmlalias.ent
include mwlib/xmlcat/www.w3.org/TR/MathML2/dtd/mmlextra.ent
include mwlib/xmlcat/www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent
include mwlib/xmlcat/www.w3.org/TR/xhtml1/DTD/xhtml-special.ent
include mwlib/xmlcat/www.w3.org/TR/xhtml1/DTD/xhtml-symbol.ent
include mwlib/xmlcat/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd
include mwlib/xmltreecleaner.py
include setup.cfg
include setup.py
include tests/test_xhtmlwriter.py
include tox.ini
